section.crad_detil

    .sec_t
        spna.title
            | ماذا نقدم
    .container


        .card
            .card_ico
                <i class="fas fa-quran"></i>
            p.card_inf

                |هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص
        .border_v

        .card
                .card_ico
                    <i class="fas fa-kaaba"></i>
                p.card_inf
                    |هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص
        .border_v
        .card
            .card_ico
                <i class="fas fa-mosque"></i>
            p.card_inf

                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص
