footer.footer
    .top
        .right
            ul.unstyled
                li.link_item
                    a(href="#").link_anc
                        | سياسة الخوصية
                li.link_item
                    a(href="#").link_anc
                        | تسجيل الدخول
                li.link_item
                    a(href="#").link_anc
                        | إنشاء حساب
                li.link_item
                    a(href="#").link_anc
                        |  اعلن معنا
                li.link_item
                    a(href="#").link_anc
                        | من نحن
                li.link_item
                    a(href="#").link_anc
                        | حملات جمع التبرعات
        .left
            .slect_box
                
                select.s_lg
                    option(value="ar" selected).op_lg
                        | العربية
                    option(value="en").op_lg
                        | English
                    option(value="tr").op_lg
                        | Turky
                    option(value="fr").op_lg
                        | Frinch
                    option(value="sp").op_lg
                        | Spanech
                    option(value="in").op_lg
                        | Indean
                i.s_arr.fa.fa-angle-up(aria-hidden='true')
    .bottom
        |Quran 
        i.fa.fa-copyright(aria-hidden='true')
        span 2020