header.header.top_header
    .overlay
    .top
    .center
        img.mock(src="/dist/img/mosque.svg", alt="")
        .logo
            img(src="/dist/img/1.png", alt="")
    .bottom
        .right
            ul.unstyled
                li.link_item 
                    a(href="#").link_anc 
                        | المصحف الشريف
                li.link_item
                    a(href="#").link_anc 
                        | صوتيات
        
        .center
            
        
        .left
            ul.unstyled
                li.link_item 
                    a(href="#").link_anc 
                        | الحديث
                li.link_item
                    a(href="#").link_anc 
                        | تفسير