section.sign_s
    .right
        .btn_g.clom
            a.btn(data-o-pop="login")
                |تسجيل الدخول
            a.btn(data-o-pop="singup")
                | إنشاء حساب

    
    .border_v

    .left
        .s_t
            |حمل التطبيق الان
        .container
            .ph_m
            .btn_g.clom
                a.btn.down_app_btn(href="")
                    span
                        span.btn_t_t
                            |Download On The
                        b.btn_text
                            span.btn_ico
                                <i class="fab fa-google-play"></i>
                            |Google Play

                a.btn.down_app_btn(href="")
                    span
                        span.btn_t_t
                            |Download On The
                        b.btn_text
                            span.btn_ico
                                <i class="fab fa-apple"></i>
                            |App Store