$header_back: #17252e;
$body_back: #062a3f;
$text: #fafafa;
$footer_back: #093853;
$border: #29a2a9;
$shadow: #208e96;
$h_l_c: #78ced3;
$btn_back: #295975;
$hover:#347ca6;
$form_back: #9CB6C6;
$err_back: #ee4238;
$err_text: #f8f8f8;
$info_tip_back: #222;