link(href="/dist/css/awesome.min.css" rel="stylesheet" type="text/css")
link(href="/dist/css/normalize.css" rel="stylesheet" type="text/css")
link(href="/dist/css/app.css" rel="stylesheet" type="text/css")
<!-- [if IE lte 9]>
    <script src="/dist/js/html5shiv.min.js"></script>
<![endif] -->